<section fxLayout="row wrap" fxLayoutAlign="left left">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
    <mat-card-title>Select room specifications</mat-card-title>
    <form
      [formGroup]="this.filterForm"
      autocomplete="off"
      novalidate
      (ngSubmit)="logFilter(filterForm.value)"
      fxLayout="column wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-card-content>
        <mat-form-field>
          <mat-select placeholder="Room type" formControlName="type" id="type">
            <mat-option *ngFor="let type of this.roomTypes" [value]="type">{{
              type
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [min]="this.unavailableDate"
            [matDatepicker]="picker"
            placeholder="Choose check-in"
            formControlName="startDate"
            id="startDate"
            readonly
            (click)="picker.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [min]="this.unavailableDate"
            [matDatepicker]="picker2"
            placeholder="Choose check-out"
            formControlName="endDate"
            id="endDate"
            readonly
            (click)="picker2.open()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker2"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button
          matTooltip="Apply filter"
          mat-raised-button
          color="primary"
          [disabled]="!filterForm.valid"
        >
          Filter
        </button>
        <button
          type="button"
          matTooltip="Reset the form"
          mat-raised-button
          color="warn"
          (click)="filterReset()"
        >
          Reset
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>
