.room-info-container {
  width: 100%;
  display: flex;
}

.room-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.room-card .room-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breakfast-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.breakfast-label {
  margin: 0 5px;
  font-size: 13px;
}

.price-label {
  margin: 0 5px;
  font-size: 13px;
}
.price-section {
  display: flex;
  align-content: center;
  align-items: center;
}
