<mat-toolbar color="primary">
  <div class="left-button-toolbar">
    <button
      mat-button
      [routerLink]="['']"
      [routerLinkActive]="'nav-link-active'"
    >
      <mat-icon>home</mat-icon>
    </button>
    <button
    mat-button
    [routerLink]="['/rooms']"
    [routerLinkActive]="'nav-link-active'"
  >
    <mat-icon>room</mat-icon>
  </button>
    <button
    mat-button
    [routerLink]="['/owner']"
    [routerLinkActive]="'nav-link-active'"
  >
    <mat-icon>euro_symbol</mat-icon>
  </button>
  </div>
</mat-toolbar>
