.all-rooms-container {
  margin: 10px;
}

  .rooms-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .room-info {
    width: 49%;
    margin-bottom: 5px;
    display: flex;
  }

  .filter-btn button {
    margin-right: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
